$color1-malo: #ff0000;
$color2-malo: #d00000;
$color3-malo: #a00000;
$color-texto-malo: white;
$color1-malo-resaltado: #a00000;
$color2-malo-resaltado: #700000;
$color3-malo-resaltado: #400000;
$color-texto-malo-resaltado: white;

$color1-huerto: #ff00ff;
$color2-huerto: #d000d0;
$color3-huerto: #a000a0;
$color-texto-huerto: white;
$color1-huerto-resaltado: #a000a0;
$color2-huerto-resaltado: #700070;
$color3-huerto-resaltado: #400040;
$color-texto-huerto-resaltado: white;

$color1-bueno: #00ff00;
$color2-bueno: #00d000;
$color3-bueno: #00a000;
$color-texto-bueno: black;
$color1-bueno-resaltado: #00a000;
$color2-bueno-resaltado: #007000;
$color3-bueno-resaltado: #004000;
$color-texto-bueno-resaltado: white;

$color1-medio: #ffff00;
$color2-medio: #d0d000;
$color3-medio: #a0a000;
$color-texto-medio: black;
$color1-medio-resaltado: #a0a000;
$color2-medio-resaltado: #707000;
$color3-medio-resaltado: #404000;
$color-texto-medio-resaltado: white;

$color1-nulo: #7f7f7f;
$color2-nulo: #404040;
$color3-nulo: #000000;
$color-texto-nulo: white;
$color1-nulo-resaltado: #ffffff;
$color2-nulo-resaltado: #c0c0c0;
$color3-nulo-resaltado: #808080;
$color-texto-nulo-resaltado: black;

#pedidos {
  min-width: 250px;
}
#pedido {
  min-width: 560px;
}
#huerto {
  min-width: 450px;
}

.tabla-cont {

  .tabla-div {

    .tabla {

      tr {

        &:not(.header) {

          &:nth-child(odd) {
            &.malo {
              @include color-degradado2($color1-malo, $color2-malo, $color3-malo, $color-texto-malo);
              &:hover {
                @include color-degradado2($color1-malo-resaltado, $color2-malo-resaltado, $color3-malo-resaltado, $color-texto-malo-resaltado);
              }
            }
            &.huerto {
              @include color-degradado2($color1-huerto, $color2-huerto, $color3-huerto, $color-texto-huerto);
              &:hover {
                @include color-degradado2($color1-huerto-resaltado, $color2-huerto-resaltado, $color3-huerto-resaltado, $color-texto-huerto-resaltado);
              }
            }
            &.bueno {
              @include color-degradado2($color1-bueno, $color2-bueno, $color3-bueno, $color-texto-bueno);
              &:hover {
                @include color-degradado2($color1-bueno-resaltado, $color2-bueno-resaltado, $color3-bueno-resaltado, $color-texto-bueno-resaltado);
              }
            }
            &.medio {
              @include color-degradado2($color1-medio, $color2-medio, $color3-medio, $color-texto-medio);
              &:hover {
                @include color-degradado2($color1-medio-resaltado, $color2-medio-resaltado, $color3-medio-resaltado, $color-texto-medio-resaltado);
              }
            }
            &.nulo {
              @include color-degradado2($color1-nulo, $color2-nulo, $color3-nulo, $color-texto-nulo);
              &:hover {
                @include color-degradado2($color1-nulo-resaltado, $color2-nulo-resaltado, $color3-nulo-resaltado, $color-texto-nulo-resaltado);
              }
            }
          }
          &:nth-child(even) {
            &.malo {
              @include color-degradado2($color3-malo, $color2-malo, $color1-malo, $color-texto-malo);
              &:hover {
                @include color-degradado2($color3-malo-resaltado, $color2-malo-resaltado, $color1-malo-resaltado, $color-texto-malo-resaltado);
              }
            }
            &.huerto {
              @include color-degradado2($color3-huerto, $color2-huerto, $color1-huerto, $color-texto-huerto);
              &:hover {
                @include color-degradado2($color3-huerto-resaltado, $color2-huerto-resaltado, $color1-huerto-resaltado, $color-texto-huerto-resaltado);
              }
            }
            &.bueno {
              @include color-degradado2($color3-bueno, $color2-bueno, $color1-bueno, $color-texto-bueno);
              &:hover {
                @include color-degradado2($color3-bueno-resaltado, $color2-bueno-resaltado, $color1-bueno-resaltado, $color-texto-bueno-resaltado);
              }
            }
            &.medio {
              @include color-degradado2($color3-medio, $color2-medio, $color1-medio, $color-texto-medio);
              &:hover {
                @include color-degradado2($color3-medio-resaltado, $color2-medio-resaltado, $color1-medio-resaltado, $color-texto-medio-resaltado);
              }
            }
            &.nulo {
              @include color-degradado2($color3-nulo, $color2-nulo, $color1-nulo, $color-texto-nulo);
              &:hover {
                @include color-degradado2($color3-nulo-resaltado, $color2-nulo-resaltado, $color1-nulo-resaltado, $color-texto-nulo-resaltado);
              }
            }
          }
        }
      }
    }
  }

  @include velo();
}


